* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Cart */
.container {
    max-width: 700px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.columndisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(224, 224, 224);
    padding: 2rem;
}

p {
    font-weight: bold;
}

/* --------------------------------add in hyperlink edit-------------------- */
a.selectCity {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

body {
    font-family: 'Roboto', sans-serif;;
}

/* Header */
header {
    background-color: #9fc5f8;
    color: white;
    padding: 1.5rem 0;
}

ul {
    list-style: none;
}

/* Chosen city section */
.city {
    border-bottom: .25rem solid black;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.temperature {
    cursor: pointer;
}

/* Weather outlook section */
img {
    width: 80px;
    border-radius: 50%;
}

.redFont {
    color: red;
    font-size: larger;
}

.blueFont {
    color: rgb(68, 127, 255);
    font-size: larger;
}

/* Cookies Pop-Up */
.cookies {
    background-color: rgb(190, 190, 190);
    padding: .8rem;
    border: .25rem solid black;
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.cookieMessage {
    flex: 4
}

button {
    background-color: #9fc5f8;
    padding:.25rem .5rem;
    box-shadow: 3px 3px black;
    flex: 1;
}

button.selectCity {
    cursor: pointer;
    background-color: transparent;
    border: 0 transparent;
    box-shadow: 0 0 transparent;
    font-size: 1rem;
    color: white;
}